<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9b8be">  <td>23/10/11 14:59:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScript1.CloseBrowser()[pri:0, instance:TestScript.TestScript1@3d5c822d]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>23/10/11 14:59:39</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestScript1.OpenBrowser()[pri:0, instance:TestScript.TestScript1@3d5c822d]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1498438472</td>   <td></td> </tr>
</table>
